<div class="container__big-card">
    <div class="big-card__photo">
      <a href="#">
        <img
        src="https://miro.medium.com/v2/resize:fit:1400/0*DTy8tlNHXGc0g4sB"
        alt=""
        height="200px"
        srcset="">
      </a>
    </div>

    <div class="big-card__date">
      <span><a href="#">Mar 25, 2023</a></span>
    </div>

    <div class="big-card__title">
      <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>

    <div class="big-card__description">
      <p>
        <a href="#">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Morbi ac lacus sit amet nibh egestas dictum sed vitae arcu.
          Aenean sed venenatis quam, id tempus sem.
          Etiam et rutrum sapien, non condimentum ex.
        </a>
      </p>
    </div>
</div>
