<div class="container__big-card">
    <div class="big-card__photo">
      <a href="#">
        <img
        src="{{ photoCover }}"
        alt=""
        height="200px"
        srcset="">
      </a>
    </div>

    <div class="big-card__date">
      <span><a href="#">Mar 25, 2023</a></span>
    </div>

    <div class="big-card__title">
      <h1><a [routerLink]="['content', id]">{{ cardTitle }}</a></h1>
    </div>

    <div class="big-card__description">
      <p>
        <a href="#">
          {{ cardDescription }}
        </a>
      </p>
    </div>
</div>
