<div class="container__menu-bar">
  <ul>
    <li>
      <a
        href="https://www.linkedin.com/in/ailson-guedes-fonseca/"
        target="_blank">
      Linkedin</a>
    </li>
    <li><span>•</span></li>
    <li>
      <a
        href="https://www.linkedin.com/in/ailson-guedes-fonseca/"
        target="_blank">
      GIthub</a>
    </li>
    <li><span>•</span></li>
    <li>
      <a
        href="https://www.linkedin.com/in/ailson-guedes-fonseca/"
        target="_blank">
      Portfólio</a>
    </li>
    <li><span>•</span></li>
    <li>
      <a
        href="https://www.linkedin.com/in/ailson-guedes-fonseca/"
        target="_blank">
      Medium</a>
    </li>
  </ul>
</div>
